<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marks.edms.dao.MallUserMapper">

    <resultMap id="BaseResultMap" type="com.marks.edms.entity.MallUser">
        <id column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName" />
        <result column="password_md5" jdbcType="VARCHAR" property="passwordMd5" />
        <result column="introduce_sign" jdbcType="VARCHAR" property="introduceSign" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
        <result column="locked_flag" jdbcType="TINYINT" property="lockedFlag" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
        <result column="password_update_time" jdbcType="TIMESTAMP" property="passwordUpdateTime"/>
        <result column="old_password_1" jdbcType="VARCHAR" property="oldPassword1" />
        <result column="old_password_2" jdbcType="VARCHAR" property="oldPassword2" />
        <result column="old_password_3" jdbcType="VARCHAR" property="oldPassword3" />
        <result column="password_status" jdbcType="CHAR" property="passwordStatus"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, nick_name, login_name, password_md5, introduce_sign, address, is_deleted, locked_flag, create_time,
        user_email, password_update_time, old_password_1, old_password_2, old_password_3, password_status
    </sql>

    <insert id="insert" parameterType="com.marks.edms.entity.MallUser">
        insert into tb_newbee_mall_user
        (user_id, nick_name, login_name, password_md5, introduce_sign,
        address, is_deleted, locked_flag, create_time, user_email, password_update_time, old_password_1)
        values
        (#{userId,jdbcType=BIGINT}, #{nickName,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR},
        #{passwordMd5,jdbcType=VARCHAR}, #{introduceSign,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{isDeleted,jdbcType=TINYINT}, #{lockedFlag,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
        #{userEmail,jdbcType=VARCHAR}, #{passwordUpdateTime,jdbcType=TIMESTAMP}, #{oldPassword1,jdbcType=VARCHAR}, #{passwordStatus,jdbcType=CHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.marks.edms.entity.MallUser">
        insert into tb_newbee_mall_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">-
                user_id,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="passwordMd5 != null">
                password_md5,
            </if>
            <if test="introduceSign != null">
                introduce_sign,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="lockedFlag != null">
                locked_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="userEmail != null">
                user_email,
            </if>
            <if test="passwordUpdateTime != null">
                password_update_time,
            </if>
            <if test="oldPassword1 != null">
                old_password_1,
            </if>
            <if test="oldPassword2 != null">
                old_password_2,
            </if>
            <if test="oldPassword3 != null">
                old_password_3,
            </if>
            <if test="passwordStatus != null">
                password_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="passwordMd5 != null">
                #{passwordMd5,jdbcType=VARCHAR},
            </if>
            <if test="introduceSign != null">
                #{introduceSign,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="lockedFlag != null">
                #{lockedFlag,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="passwordUpdateTime != null">
                #{passwordUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="oldPassword1 != null">
                #{oldPassword1,jdbcType=VARCHAR},
            </if>
            <if test="oldPassword2 != null">
                #{oldPassword2,jdbcType=VARCHAR},
            </if>
            <if test="oldPassword3 != null">
                #{oldPassword3,jdbcType=VARCHAR},
            </if>
            <if test="passwordStatus != null">
                #{passwordStatus,jdbcType=CHAR},
            </if>
        </trim>
    </insert>


    <select id="selectByLoginNameAndPasswd" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_user
        where is_deleted = 0 and locked_flag = 0 and
        login_name = #{loginName} and password_md5 = #{password}
    </select>

    <select id="selectByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_user
        where is_deleted = 0 and login_name = #{loginName}
    </select>

    <select id="findMallUserList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_user
        where is_deleted = 0
        order by create_time desc
        limit #{start}, #{limit}
    </select>

    <select id="getTotalMallUsers" resultType="int">
        select count(*) from tb_newbee_mall_user where is_deleted = 0
    </select>
    

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_newbee_mall_user
        where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.marks.edms.entity.MallUser">
        update tb_newbee_mall_user
        <set>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="passwordMd5 != null">
                password_md5 = #{passwordMd5,jdbcType=VARCHAR},
            </if>
            <if test="introduceSign != null">
                introduce_sign = #{introduceSign,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="lockedFlag != null">
                locked_flag = #{lockedFlag,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.marks.edms.entity.MallUser">
        update tb_newbee_mall_user
        set nick_name = #{nickName,jdbcType=VARCHAR},
        login_name = #{loginName,jdbcType=VARCHAR},
        password_md5 = #{passwordMd5,jdbcType=VARCHAR},
        introduce_sign = #{introduceSign,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        is_deleted = #{isDeleted,jdbcType=TINYINT},
        locked_flag = #{lockedFlag,jdbcType=TINYINT},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
    
    <update id="lockUserBatch">
        update tb_newbee_mall_user
        set locked_flag = #{lockStatus}
        where locked_flag = 0 and user_id in
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </update>

    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        update tb_newbee_mall_user
        set is_deleted = 1
        where is_deleted = 0 and user_id = #{userId, jdbcType=BIGINT}
    </update>
</mapper>