<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marks.edms.dao.UserDao">
    <resultMap id="userMap" type="com.marks.edms.domain.SysUser">
        <id property="user_id" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="PASSWORD"/>
        <collection property="roles" ofType="com.marks.edms.domain.SysRole">
            <result column="role_name" property="role_name"/>
        </collection>
    </resultMap>

    <select id="findByUserName" parameterType="String" resultMap="userMap">
        select u.*
        ,r.role_name
        from marks_user u
        LEFT JOIN marks_role_user sru on u.user_id= sru.user_id
        LEFT JOIN marks_role r on sru.role_id=r.role_id
        where username= #{username}
    </select>

    <resultMap id="UserResult" type="com.marks.edms.entity.User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="findAllUsers" resultMap="UserResult">
        select id, name, password
        from tb_user
        order by id desc
    </select>

    <insert id="insertUser" parameterType="com.marks.edms.entity.User">
        insert into tb_user(name, password) values (#{name}, #{password})
    </insert>

    <update id="updateUser" parameterType="com.marks.edms.entity.User">
        update tb_user
        set
        name = #{name}, password = #{password}
        where id = #{id}
    </update>

    <delete id="delUser" parameterType="int">
        delete from tb_user where id = #{id}
    </delete>

<!--    查询用户列表信息-->
    <select id="findUsers" parameterType="Map" resultMap="UserResult">
        select id, name, password from tb_user
        order by id desc
        <if test="start != null and limit != null">
            limit #{start}, #{limit}
        </if>
    </select>

<!--    查询用户总条数-->
    <select id="getTotalUser" parameterType="Map" resultType="int">
        select count(*) from tb_user
    </select>

</mapper>